LIVEKIT_URL=http://${{livekit-server.RAILWAY_PRIVATE_DOMAIN}}
LIVEKIT_API_KEY=${{livekit-server.LIVEKIT_API_KEY}}
LIVEKIT_API_SECRET=${{livekit-server.LIVEKIT_API_SECRET}}
PORT=3001
SQLITE_PATH=/data/monitor.db
