{
  "root": true,
  "extends": ["@nuxt", "plugin:prettier/recommended"],
  "rules": {
    "vue/no-unused-vars": "off",
    "vue/no-v-html": "off",
    "vue/no-v-text-v-html-on-component": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
