{
  "root": true,
  "extends": [
    "@nuxt",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    "vue/no-unused-vars": "off",
    "vue/no-v-html": "off",
    "vue/no-v-text-v-html-on-component": "off",
    "vue/multi-word-component-names": "off",
    "vue/valid-template-root": "off",
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "Omit": "Use `Except` instead",
          "Function": false
        }
      }
    ],
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-import-type-side-effects": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "import/consistent-type-specifier-style": "error",
    "curly": [
      "error",
      "multi"
    ],
    "eqeqeq": "error"
  }
}
