{
  "root": true,
  "extends": [
    "@nuxt",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    "vue/no-unused-vars": "off",
    "vue/no-v-html": "off",
    "vue/no-v-text-v-html-on-component": "off",
    "vue/multi-word-component-names": "off",
    "vue/valid-template-root": "off",
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "Omit": "Use `Except` instead",
          "Function": false
        }
      }
    ],
    "@typescript-eslint/no-import-type-side-effects": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "import/consistent-type-specifier-style": "error",
    "curly": [
      "error",
      "multi"
    ],
    "eqeqeq": "error"
  },
  "overrides": [
    {
      "files": [
        "*.ts"
      ],
      "extends": [
        "plugin:@typescript-eslint/strict-type-checked",
        "plugin:@typescript-eslint/stylistic-type-checked"
      ],
      "parserOptions": {
        "project": ".nuxt/tsconfig.json"
      },
      "rules": {
        "@typescript-eslint/naming-convention": [
          "error",
          {
            "selector": "variable",
            "format": [
              "strictCamelCase",
              "UPPER_CASE"
            ],
            "types": [
              "boolean",
              "number",
              "string"
            ]
          }
        ],
        "@typescript-eslint/no-base-to-string": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-redundant-type-constituents": "off",
        "@typescript-eslint/no-unsafe-argument": "off",
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/no-unsafe-call": "off",
        "@typescript-eslint/no-unsafe-enum-comparison": "off",
        "@typescript-eslint/no-unsafe-member-access": "off",
        "@typescript-eslint/no-unsafe-return": "off",
        "@typescript-eslint/restrict-template-expressions": "off",
        "@typescript-eslint/unbound-method": "off"
      }
    },
    {
      "files": [
        "*.vue"
      ],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off"
      }
    }
  ]
}
