# Build artifacts
**/src/index.ts
**/src/components/index.ts
**/public/docs

# Testing
coverage
vitest.config.*.timestamp*

# Local db
*.db
*.db-journal

# Tiled
*.tiled-session

# Nuxt 3
.output
.data
.nuxt
.nitro
.cache
dist

# Dependencies
node_modules

# Typescript build info
tsconfig.tsbuildinfo

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

