LIVEKIT_API_KEY=${{secret(32)}}
LIVEKIT_API_SECRET=${{secret(64)}}
LIVEKIT_APP_WEBHOOK_URL=${{shared.BASE_URL}}/api/webhooks/livekit
LIVEKIT_LOG_LEVEL=info
LIVEKIT_MONITOR_WEBHOOK_URL=https://${{livekit-monitor.RAILWAY_PUBLIC_DOMAIN}}/api/webhook
LIVEKIT_TURN_DOMAIN=${{livekit-turn.RAILWAY_TCP_PROXY_DOMAIN}}
LIVEKIT_TURN_PORT=${{livekit-turn.RAILWAY_TCP_PROXY_PORT}}
LIVEKIT_TURN_SECRET=${{livekit-turn.LIVEKIT_TURN_SECRET}}
PORT=8080
REDIS_URL=${{Redis.REDIS_URL}}
