LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_APP_WEBHOOK_URL=https://esposter.railway.internal/api/webhooks/livekit
PORT=8080
LIVEKIT_LOG_LEVEL=info
LIVEKIT_MONITOR_WEBHOOK_URL=http://livekit-monitor.railway.internal:3001/api/webhook
REDIS_URL=${{Redis.REDIS_URL}}
