LIVEKIT_API_KEY=${{secret(32)}}
LIVEKIT_API_SECRET=${{secret(64)}}
LIVEKIT_APP_WEBHOOK_URL=${{shared.BASE_URL}}/api/webhooks/livekit
LIVEKIT_LOG_LEVEL=info
LIVEKIT_MONITOR_WEBHOOK_URL=https://${{livekit-monitor.RAILWAY_PUBLIC_DOMAIN}}/api/webhook
PORT=8080
REDIS_URL=${{Redis.REDIS_URL}}
