@use "vuetify";
// https://vuetifyjs.com/en/getting-started/upgrade-guide/#css-reset
@layer vuetify-core.reset {
  ul,
  ol,
  figure,
  details,
  summary {
    padding: 0;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  button {
    background-color: transparent;
    border-style: none;
  }
}
// https://vuetifyjs.com/en/getting-started/grid-legacy-mode/#css-override
@layer vuetify-overrides {
  .v-row {
    gap: unset;
    margin: calc(var(--v-col-gap-y) * -0.5) calc(var(--v-col-gap-x) * -0.5);
  }
  .v-row + .v-row {
    margin-top: calc(var(--v-col-gap-y) * 0.5);
  }
  .v-col {
    padding: calc(var(--v-col-gap-y) * 0.5) calc(var(--v-col-gap-x) * 0.5);
    flex-basis: var(--v-col-is-size, calc(100% * var(--v-col-size) / var(--v-col-size-columns)))
      var(--v-col-is-auto, auto) var(--v-col-is-grow, 0);
  }
  .v-col:where([class*="v-col--offset-"]) {
    margin-inline-start: calc(100% * var(--v-col-offset) / var(--v-col-size-columns));
  }
}
