name: Build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: pnpm

      - name: Install Node Modules
        run: pnpm i

      - name: Run Lint
        run: pnpm lint

      - name: Build Nuxt 3
        run: pnpm build

      - name: Run Typecheck
        run: pnpm typecheck

      - name: Run Tests
        run: pnpm test
